body {
    margin: 0;
    padding: 0;
}
.pages {
    /* background-color: red; */
}
.hint-text {
    align-items: center;
    display: flex;
    /* justify-content: left; */

}
.list {
    align-items: center;
    display: flex;
    list-style-type: none;
    padding: 3px;
    margin: 5px;

}
.page-item {
    padding: 5px;
}
