body{
    padding: 0;
    margin: 0;
}
.app {
    display: flex;
    align-items: center;
    justify-content: center;
    
    
    
}
.appItems {
    padding: 25px;
    background-color: whitesmoke;
    margin-top: 5%;
    margin-bottom: 5%;
    border-radius: 30px;
}

.search-rectangle {
    /* position: absolute; */
    width: 280px;
    height: 42px;
    left: 1089px;
    top: 49px;
    
    background: white;
    border-radius: 12px;
    display: flex;

}

.search-icon {
    /* position: absolute; */
    left: 8.33%;
    right: 12.5%;
    top: 8.33%;
    bottom: 12.5%;
    padding-left: 10.75px;
    padding-top: 11.75px;
    border: none;
    
    /* border: 2px solid rgba(0, 0, 0, 0.5); */
}

.search-bar {
    /* position: absolute; */
    width: 100px;
    height: 18px;
    left: 1124px;
    padding-top: 15px;
    outline: none;    
    background-color: white;
    /* padding-top: 35px; */
    border: none;
    margin-left: 10px;

    
    font-family: 'Poppins';
    font-style: normal;
    /* font-weight: 400; */
    /* font-size: 12px;
    line-height: 18px; */
    /* identical to box height */   
    color: rgba(0, 0, 0, 0.7);
    
}
.tatal-rec {
    margin-left: 20px;
    background-color: white;
}
.h5{
    margin-left: 10px;
    
}
.totals {
    margin: 10px;
}
.done-rec{
    border-radius: 5px;
    margin-left: 280px;
    margin-bottom: 10px;    
}