body{
    margin: 0;
    padding: 0;
    background-color: whitesmoke;    
}
/* .app{
    box-sizing: border-box;

    position: relative;
    width: 1440px;
    height: 840px;
    
    background: #F8F8F8;
    border: 1px solid #2774E9;
} */

.rectangle {
    position: absolute;
    width: 350px;
    height: 785px;
    left: 1062px;
    top: 25px;
    padding-left: 27px;

    background: #FFFFFF;
    border-radius: 12px;
    padding-top: 24px;
}

.search-rectangle {
    /* position: absolute; */
    width: 280px;
    height: 42px;
    left: 1089px;
    top: 49px;
    
    background: #F4F4F4;
    border-radius: 12px;
    display: flex;

}
.search-icon {
    /* position: absolute; */
    left: 8.33%;
    right: 12.5%;
    top: 8.33%;
    bottom: 12.5%;
    padding-left: 10.75px;
    padding-top: 11.75px;
    border: none;
    
    /* border: 2px solid rgba(0, 0, 0, 0.5); */
}

.search-product {
    /* position: absolute; */
    width: 100px;
    height: 18px;
    left: 1124px;
    padding-top: 11px;
    outline: none;    
    background-color: whitesmoke;
    /* padding-top: 35px; */

    
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    /* identical to box height */   
    color: rgba(0, 0, 0, 0.7);
    
} 


.create-transaction {
    /* position: absolute; */
    width: 147px;
    height: 21px;
    left: 1087px;
    top: 116px;
    padding-left: 25px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    /* identical to box height */


    color: #000000;
}

.rectangle-total {
    /* position: absolute; */
    width: 297px;
    height: 158px;
    left: 1087px;
    top: 633px;
    
    background: #F4F4F4;
    border-radius: 12px;
}

.total-amount{
/* position: absolute; */
width: 79px;
height: 15px;
left: 1139px;
top: 658px;
padding-left: 52px;
padding-top: 25px;

font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 10px;
line-height: 15px;
/* identical to box height */


color: rgba(0, 0, 0, 0.5);

}
.kes {
/* position: absolute; */
width: 106px;
height: 36px;
left: 1139px;
top: 676px;
padding-left: 52px;
padding-top: 43px;

font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 36px;
/* identical to box height */


color: #000000;
}

.done-rectangle {
    /* position: absolute; */
    width: 32px;
    height: 18px;
    left: 1273px;
    top: 747px;
    margin-top: 17px;
    margin-left: 163px;
    padding-top: 7px;
    padding-left: 7px;
    
    
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    /* identical to box height */
    
    
    color: #2774E9;
    }

.done-button {

width: 112px;
height: 32px;
left: 1250px;
top: 740px;
padding-bottom: 26px;

background: #CCE9FF;
border-radius: 8px;
}

.done-arrow {
    /* position: absolute; */
    left: 84.38%;
    right: 18.77%;
    top: 18.75%;
    bottom: 18.75%;    

    /* background: #2774E9; */
    /* transform: matrix(-1, 0, 0, 1, 0, 0); */
}

.product-items {
    /* position: absolute; */
    width: 282px;
    height: 27px;
    left: 1089px;
    top: 178px;
    display: flex;       
}

.product{
    /* position: absolute; */
    width: 58px;
    height: 18px;
    left: 1089px;
    top: 183px;
    padding-left: 27px;
    padding-bottom: 43px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    /* identical to box height */


    color: #000000;

}
.button-container{
    /* display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(55, 0, 255);
    margin-top: 34px; */
}

button {
    padding-left: 20px;
    margin-left: 20px;
    border-radius: 50%;
    border: none; 
    
}

button.minus {
text-align: center;
margin-left: 80px;
}
button.plus {
    text-align: center;
    text-align: center; 
    
}


.number {
    padding-left: 20px;    
}




